Package: tevian
Version: 1.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: libqt5gui5 (>= 5.9.5)
Maintainer: Koshka <ya.olgapshenichnikova@yandex.ru>
Description: Tevian exam project
 Hope it is good
